<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="websiteschema.persistence.rdbms.SampleDBMapper">

    <resultMap type="hashmap" id="rResultMap">
        <id property="ID" column="ID" />
    </resultMap>

    <sql id='col'>id,rowKey,url,siteId,content,httpStatus,lastUpdateTime,createTime</sql>

    <sql id='colSimple'>id,rowKey,url,siteId,httpStatus,lastUpdateTime,createTime</sql>

    <select id="getResults" parameterType="java.util.Map" resultType="list" resultMap="rResultMap">
        select
        <include refid="col"/>
        from Sample
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="match != null">
                url like CONCAT('%','${match}','%' )
            </if>
            <if test="siteId != null">
                and siteId=#{siteId}
            </if>
            <if test="s_date != null">
                and createTime &gt; #{s_date}
            </if>
            <if test="e_date != null">
                and createTime &lt; #{e_date}
            </if>
        </trim>
    </select>

    <select id="getSimpleResults" parameterType="java.util.Map" resultType="list" resultMap="rResultMap">
        select
        <include refid="colSimple"/>
        from Sample
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="match != null">
                url like CONCAT('%','${match}','%' )
            </if>
            <if test="siteId != null">
                and siteId=#{siteId}
            </if>
            <if test="s_date != null">
                and createTime &gt; #{s_date}
            </if>
            <if test="e_date != null">
                and createTime &lt; #{e_date}
            </if>
        </trim>
    </select>

    <!-- 查询记录，根据Id -->
    <select id="getById" parameterType="long" resultType="java.util.Map">
        select
        <include refid="col"/>
        from Sample
        where id = #{id}
    </select>

    <select id="getByRowKey" parameterType="string" resultType="java.util.Map">
        select
        <include refid="col"/>
        from Sample
        where rowKey = #{rowKey}
    </select>

    <select id="getSimpleResult" parameterType="string" resultType="java.util.Map">
        select
        <include refid="colSimple"/>
        from Sample
        where rowKey = #{rowKey}
    </select>

    <select id="getId" parameterType="string" resultType="long">
        select id from Sample
        where rowKey = #{rowKey}
    </select>

    <select id="exists" parameterType="string" resultType="int">
        select count(0) from Sample
        where rowKey = #{rowKey}
    </select>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="java.util.Map"
        useGeneratedKeys="true" keyProperty="id">
        insert into Sample (rowKey, url, siteId, content, httpStatus, lastUpdateTime, createTime)
        values (#{rowKey}, #{url},#{siteId},#{content},#{httpStatus},now(),now())
    </insert>

    <!-- 更新任务状态记录 -->
    <update id="update" parameterType="java.util.Map">
        update Sample
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null">url = #{url},</if>
            <if test="siteId != null">siteId = #{siteId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="httpStatus != null">httpStatus = #{httpStatus},</if>
            lastUpdateTime = now()
        </trim>
        where rowKey = #{rowKey}
    </update>

    <delete id="delete" parameterType="java.util.Map" >
        delete from Sample
        where id = #{id}
    </delete>

    <delete id="deleteById" parameterType="long" >
        delete from Sample
        where id = #{id}
    </delete>

    <delete id="deleteByRowKey" parameterType="string" >
        delete from Sample
        where rowKey = #{rowKey}
    </delete>
    
</mapper>